<!-- <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="./assets/logo.png" alt="">
    </a>
    <div class="text">
        <h3>Caja de Compensación Familiar de Nariño</h3>
        <h5>Inventario de Activos</h5>
    </div>
</nav> -->
<nav class="navbar navbar-light bg-light" *ngIf="identity != null">

    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="principal" style="cursor: pointer;">
                <img src="./assets/logo.png">
                <b>Inventario de Activos</b>
            </a>
            <!-- <a class="navbar-brand" routerLink="principal"><b></b></a> -->
            <a class="navbar-brand" routerLink="principal">Principal</a>
        </div>
        <button class="btn btn-danger navbar-btn" (click)="salir()">Salir</button>
    </div>
</nav>
<br>
<router-outlet></router-outlet>
