#div1 {
    text-align: center;
}



table {
    margin-left: auto;
    margin-right: auto;
	width: 80%;
}
p{
    margin-left: auto;
    margin-right: auto;
	width: 80%;
}
.texto-justificado{
    text-align: justify;
}

.div23{
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
      