<meta charset="utf-8">
<h2 id="div1">Activos</h2>
<div class="container py-1">
    <div class="card-body">
        <br>
        <div class="card-text"></div>
        <h4>Encargado: {{encargado}}</h4>
        <h4>Codigo: {{usuario}}</h4>
        <h4>Numero de Activos: {{tactivos}}</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr class="mb-4">
            <div class="row justify-content-center">
                <div class="col-md-10 offset-md-1">
                    <span class="anchor" id="formComplex"></span>
                    <div class="card card-outline-secondary">
                        <div class="card-header">
                            <h3 class="mb-0">Ingrese la información requerida</h3>
                        </div>
                        <div class="card-body">
                            <div class="row mt-12">
                                <h3 class="mb-0">Usuario a Trasladar</h3>

                                <div class="col-sm-10">
                                    <input class="form-control" id="exampleAccount" placeholder="Cedula del Usuario"
                                        type="text" (input)="getGener02($event)" value={{datoSe}} required>
                                    <div class="card card-body mb-1" *ngFor="let result of data"
                                        (click)="getDatos02(result)" style="cursor: pointer;">
                                        <h4> Nombre: {{result.nomemp}} {{result.segnom}} {{result.priape}}
                                            {{result.segape}}</h4>
                                        <small class="text-primary">
                                            <h4> Cedula: {{result.docemp}}</h4>
                                        </small>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <input class="btn btn-success" type="button" (click)="getGener02_()" value="Buscar">
                                </div>

                            </div>
                            <br>
                            <div class="row mt-12" *ngIf="banderaSe">
                                <div class="col-sm-6">
                                    <select class="form-control" aria-label="Default select example"
                                        (change)="onDependencia($event)" required>
                                        <option value="" selected>Seleccione dependencia de destino!</option>
                                        <option *ngFor="let cen of dependencias" value={{cen.coddep}}>{{cen.coddep}} -
                                            {{cen.detalle}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <select class="form-select" aria-label="Default select example"
                                        (change)="onDestino($event)" placeholder="Ubicación de destino"
                                        aria-label="Username" aria-describedby="basic-addon1" required>
                                        <option selected>Seleccione ubicación de destino</option>
                                        <option *ngFor="let a of ubicaciones" value={{a.codubi}}>{{a.codubi}} -
                                            {{a.detalle}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <div class="row mt-12" *ngIf="banderaSe">
                                <div class="col-sm-12">
                                    <span class="input-group-text">Observación del traslado</span>
                                    <textarea class="form-control" aria-label="With textarea" maxlength="65"
                                        (input)="onObservacion($event)" required></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <p style="color:#FF0000"><strong>Seleccione los activos a trasladar</strong></p>
</div>
<form>
    <div class="form-group">
        <input type="text" class="form-control" #filterName name="filterName" name="filterPost" placeholder="Buscar..."
            [value]="searchValue" [(ngModel)]="filterPost">
    </div>
</form>
<cdk-virtual-scroll-viewport style="height: 600px" itemSize=10>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Codigo</th>
                <th scope="col">Activo</th>
                <th scope="col">Ubicación</th>
                <th scope="col">Estado</th>
                <th scope="col">Detalle</th>
                <th scope="col">Seleccione</th>
            </tr>
        </thead>
        <tbody>
            <tr *cdkVirtualFor="let dt of activos | filter:filterPost">
                <th scope="row">{{dt.numero}}</th>
                <td>{{dt.codact}}</td>
                <td>{{dt.detalle}}</td>
                <td>
                    {{dt.dependencia}}
                </td>
                <td>
                    <select id="test" (change)="onCambio($event,dt.codact)" class="form-select" on
                        aria-label="Default select example">
                        <option value="B">Bueno</option>
                        <option value="R">Regular</option>
                        <option value="D">Dañado</option>
                        <option value="O">Obsoleto</option>
                    </select>
                </td>
                <td>
                    <textarea class="form-control" (input)="onText($event,dt.codact)"
                        aria-label="With textarea"></textarea>
                </td>
                <td>
                    <input class="form-check-input" type="checkbox" [value]="dt.codact" (change)="onChange($event,dt)"
                        [checked]="dt.select" (click)="filterName.value=' '" (ng-model)="dt.activo"
                        [checked]="dt.checked" style="cursor: pointer;">
                </td>
            </tr>
        </tbody>
    </table>
</cdk-virtual-scroll-viewport>

<div id="div1">
    <button (click)="onSubmit()" type="button" class="btn btn-success">Traslado</button>
</div>
