<meta charset="utf-8">
<h2 id="div1">Activos</h2>
<div class="row mt-12">
    <div class="col-sm-6 pb-3">
        <div class="card-body">
            <br>
            <div class="card-text"></div>
            <h6>Encargado: {{encargado}}</h6>
            <h6>Codigo: {{usuario}}</h6>
            <h6>Numero de Activos: {{tactivos}}</h6>
        </div>
    </div>
    <br>
    <div class="col-sm-6 pb-3">
        <div class="card-body">
            <h4>Usuario a Trasladar</h4>
            <div class="card-body">
                <div class="row mt-12">
                    <div class="col-sm-6 pb-3">
                        <label for="exampleAccount"><b>Busqueda de Usuario</b></label>
                        <input class="form-control" id="exampleAccount" placeholder="Cedula o Nombre del Usuario"
                            type="text" (input)="getGener02($event)" value={{datoSe}} required>
                        <div class="col-sm-12">
                            <div class="card card-body mb-1" *ngFor="let result of data" (click)="getDatos02(result)"
                                style="cursor: pointer;">
                                <h6> Nombre: {{result.nombre}} </h6>
                                <small class="text-primary">
                                    Cedula: {{result.cedtra}}
                                </small>
                                <small class="text-primary">
                                    Usuario: {{result.usuario}}
                                </small>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="col-sm-6 pb-3" *ngIf="banderaSe">
                        <label for="exampleAccount"><b>Ubicación de Destino</b></label>
                        <select class="form-select" aria-label="Default select example" (change)="onDestino($event)"
                            placeholder="Ubicación de destino" aria-label="Username" aria-describedby="basic-addon1"
                            required>
                            <option selected>Seleccione</option>
                            <option *ngFor="let a of ubicaciones">{{a.codubi}}</option>
                        </select>

                    </div>
                    <div class="input-group col-sm-12 pb-3">
                        <span class="input-group-text">Observación del traslado</span>
                        <textarea class="form-control" aria-label="With textarea" maxlength="65"
                            (input)="onObservacion($event)" required></textarea>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<div>
    <p style="color:#FF0000"><strong>Seleccione los activos a trasladar</strong></p>
</div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Codigo</th>
            <th scope="col">Activo</th>
            <th scope="col">Ubicación</th>
            <th scope="col">Estado</th>
            <th scope="col">Detalle</th>
            <th scope="col">Seleccione</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dt of activos">
            <th scope="row">{{dt.numero}}</th>
            <td>{{dt.codact}}</td>
            <td>{{dt.detalle}}</td>
            <td>
                {{dt.dependencia}}
            </td>
            <td>
                <select id="test" (change)="onCambio($event,dt.codact)" class="form-select" on
                    aria-label="Default select example">
                    <option value="B">Bueno</option>
                    <option value="R">Regular</option>
                    <option value="D">Dañado</option>
                    <option value="O">Obsoleto</option>
                </select>
            </td>
            <td>
                <textarea class="form-control" (input)="onText($event,dt.codact)" aria-label="With textarea"></textarea>
            </td>
            <td>
                <input class="form-check-input" type="checkbox" [value]="dt.codact" (change)="onChange($event,dt)"
                    [checked]="dt.select" (ng-model)="dt.activo" style="cursor: pointer;">
            </td>
        </tr>
    </tbody>
</table>

<div id="div1">
    <button (click)="onSubmit()" type="button" class="btn btn-success">Traslado</button>
</div>